.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(4, 100px);
    grid-gap: 1em;
  }

  header{

    box-shadow: 0 5px 3px 3px #000;
  }
  
  header,aside,article,footer {
    background: #df7676;
    padding: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }
  
  .grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .transform  div {
      border: solid red;
      transform: translate(30px, 20px) rotate(20deg);
      width: 140px;
      height: 60px;
    }
  
    .transition .trans{
      width: 150px;
      height: 150px;
      padding: 5%;
      background: #ff6600;
      text-align: justify;
      position: absolute;
      left: 45%;
      /* top: 25%; */
      border-radius: 200px;

    
    }

    .transition .trans :hover{
      top: 10%;
      background: #f00;
      box-shadow: 0 0 15px 15px #f00;
    }